/* BASIC STYLES HERE */
body {
    background-color: rgb(209, 240, 255);
}

.bg-trip {
    background-color: rgb(255, 255, 255);
}

.bg-reservation {
    background-color: rgb(175, 226, 255);
}

.dropdown-menu {
    width: 250px;
}